### Import libraries

In [1]:
import requests
import json
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas.io.json import json_normalize
import time

from lxml import objectify

from bibliopixel import *
from bibliopixel.drivers.LPD8806 import *
from bibliopixel import LEDStrip
import bibliopixel.colors as colors

### Setting up LED

In [2]:
LedsPerSide = 8
numLeds= LedsPerSide*4*2 ##x/side * 4 sides * 2 levels
driver=DriverLPD8806(numLeds)
led=LEDStrip(driver)

###Extracting data from xml files

In [20]:
path = 'cc_customer_11.xml'
xml = objectify.parse(open(path))
root = xml.getroot()

In [21]:
root.getchildren() #Meter readings in root.getchildren[7]

['urn:uuid:e3f79426-1069-409e-a8eb-475528ed81e1',
 'Test GreenButton',
 '2013-04-04T03:35:38Z',
 u'',
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee488>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee4d0>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee518>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee560>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee5a8>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x10acee5f0>]

In [22]:
obj_top = root.getchildren()[7].getchildren()[4].getchildren()[0].getchildren()
length = len(obj_top)
length

105408

In [23]:
df = pd.DataFrame(columns=('duration', 'time_stamp', 'value'))

In [24]:
for i in range(1,length): #takes a while to run #element 0 is summary
    obj = obj_top[i].getchildren()
    row = dict(zip(['duration', 'time_stamp', 'value'], [np.int(obj[0].getchildren()[0]), np.int(obj[0].getchildren()[1]), np.int(obj[1])]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)

In [26]:
(df['value'].mean(), df['value'].min(), df['value'].max()) # value is in watt-hrs

(318232.83326534292, 85751.0, 527377.0)

In [27]:
df

        duration  time_stamp   value
1            300  1325376600  105789
2            300  1325376900  104731
3            300  1325377200  102292
4            300  1325377500  102785
5            300  1325377800  101610
6            300  1325378100  100643
7            300  1325378400  101130
8            300  1325378700  101967
9            300  1325379000  101454
10           300  1325379300   99754
11           300  1325379600   99858
12           300  1325379900  100332
13           300  1325380200  102635
14           300  1325380500  101870
15           300  1325380800  101305
16           300  1325381100  101578
17           300  1325381400  100676
18           300  1325381700  102356
19           300  1325382000  100689
20           300  1325382300  100228
21           300  1325382600   99904
22           300  1325382900   97821
23           300  1325383200   95446
24           300  1325383500   96205
25           300  1325383800   95199
26           300  1325384100   96309
27           300  1325384400   97490
28           300  1325384700   95180
29           300  1325385000   95926
30           300  1325385300   95971
...          ...         ...     ...
105378       300  1356989700  213207
105379       300  1356990000  204460
105380       300  1356990300  205349
105381       300  1356990600  210651
105382       300  1356990900  201170
105383       300  1356991200  190217
105384       300  1356991500  187706
105385       300  1356991800  190035
105386       300  1356992100  184818
105387       300  1356992400  181061
105388       300  1356992700  181132
105389       300  1356993000  193461
105390       300  1356993300  190055
105391       300  1356993600  176331
105392       300  1356993900  182450
105393       300  1356994200  178199
105394       300  1356994500  174585
105395       300  1356994800  172619
105396       300  1356995100  176662
105397       300  1356995400  170374
105398       300  1356995700  170562
105399       300  1356996000  172249
105400       300  1356996300  166007
105401       300  1356996600  166831
105402       300  1356996900  170192
105403       300  1356997200  165124
105404       300  1356997500  161127
105405       300  1356997800  163761
105406       300  1356998100  161075
105407       300  1356998400  151634

[105407 rows x 3 columns]

### Adding timestamp and grouping

In [30]:
start_time = pd.to_datetime('2011-12-31 20:10') 
## Got this from the sheet: 
## Link: http://services.greenbuttondata.org/sample-data/cc_customer_11.xml

Timestamp('2011-12-31 20:10:00')

In [73]:
df['timestamp'] = pd.date_range(start_time, periods=105407, freq='5min')
df['year'] = pd.DatetimeIndex(df['timestamp']).year
df['month'] = pd.DatetimeIndex(df['timestamp']).month
df['date'] = pd.DatetimeIndex(df['timestamp']).date

df_monthly = df.groupby(['month','year'])
df_monthly_total = df_monthly['value'].sum() #Monthly total usage
df_daily = df.groupby(['date'])
df_daily_total = df_daily['value'].sum()
df_daily_total

KeyError: 'Column not found: 0'

In [101]:
groups = dict(list(df_daily))

NameError: name 'datetime' is not defined

### Generating color scale

In [28]:
red = 0
green = 255
stepSize = 25
color_gn_rd = []
color_gn_rd.append((green, red, 0)) ## the lights are GRB format

In [69]:
while(red < 255): ## start with green and increase red
    red += stepSize;
    if(red > 245):
        red = 255; 
    color_gn_rd.append((green,red,0))

while(green > 0): ## start with red + green and decrease green
    green -= stepSize;
    if(green < 6):
        green = 0; 
    color_gn_rd.append((green,red,0)); 
    
len(color_gn_rd)

21

### Defining Flashing modes

In [67]:
intensity = np.arange(0,1.1,0.1)
reversed(intensity)
color = (50,100,110)
color_new = (color[0]*.9, color[1]*0.9,color[2]*0.9)
color_new

(45.0, 90.0, 99.0)

In [68]:
def led_set(start_position, numLEDs, color): ## Fills the colors
    led.fill(color, start=start_position,end=start_position+numLEDs)
    led.update()
    return

def pulse(start_position, numLEDs, color):
    ## Step-up intensity by 10% increments, then step down by the same every 0.1 seconds. total time = 4 sec
    
    intensity = np.arange(0,1.1,0.1) 

    for i in intensity:
        color_new = (color[0]*i,color[1]*i,color[3]*i) 
        # There is probably a more elegant way to do this.. 
        led.fill(color_new, start=start_position,end=start_position+numLEDs)
        led.update()
        time.sleep(0.2)

    for i in reversed(intensity):
        color_new = (color[0]*i,color[1]*i,color[3]*i) 
        led.fill(color_new, start=start_position,end=start_position+numLEDs)
        led.update()
        time.sleep(0.2)

In [70]:
print ('Starting Display')
print ('Press \'control + c\' to stop' )

Starting Display
Press 'control + c' to stop

### Display 1: Last 10 day average on top, current usage on bottom

In [ ]:
i = 11 
last_index = len(df_daily_total)
last_10day_average = []
color_top = []
color_bottom = []
while (i < last_index):
    last_10day_average.append(df_daily_total[i-11:i-1].mean())