In [1]:
from lxml import objectify

In [2]:
path = 'cc_customer_11.xml'
xml = objectify.parse(open(path))

In [3]:
root = xml.getroot()

In [4]:
root.getchildren() #Meter readings in root.getchildren[7]

['urn:uuid:e3f79426-1069-409e-a8eb-475528ed81e1',
 'Test GreenButton',
 '2013-04-04T03:35:38Z',
 '',
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15ac8>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15b08>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15b48>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15b88>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15bc8>,
 <Element {http://www.w3.org/2005/Atom}entry at 0x111c15c08>]

In [5]:
obj_top = root.getchildren()[7].getchildren()[4].getchildren()[0].getchildren()
length = len(obj_top)
length

105408

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(columns=('duration', 'time_stamp', 'value'))

In [ ]:
for i in range(1,length):
    obj = obj_top[i].getchildren()
    row = dict(zip(['duration', 'time_stamp', 'value'], [np.int(obj[0].getchildren()[0]), np.int(obj[0].getchildren()[1]), np.int(obj[1])]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)

In [8]:
df

     duration  time_stamp   value
1         300  1325376600  105789
2         300  1325376900  104731
3         300  1325377200  102292
4         300  1325377500  102785
5         300  1325377800  101610
6         300  1325378100  100643
7         300  1325378400  101130
8         300  1325378700  101967
9         300  1325379000  101454
10        300  1325379300   99754
11        300  1325379600   99858
12        300  1325379900  100332
13        300  1325380200  102635
14        300  1325380500  101870
15        300  1325380800  101305
16        300  1325381100  101578
17        300  1325381400  100676
18        300  1325381700  102356
19        300  1325382000  100689
20        300  1325382300  100228
21        300  1325382600   99904
22        300  1325382900   97821
23        300  1325383200   95446
24        300  1325383500   96205
25        300  1325383800   95199
26        300  1325384100   96309
27        300  1325384400   97490
28        300  1325384700   95180
29        300  1325385000   95926
30        300  1325385300   95971
..        ...         ...     ...
970       300  1325667300  281303
971       300  1325667600  282302
972       300  1325667900  281763
973       300  1325668200  287577
974       300  1325668500  281971
975       300  1325668800  283321
976       300  1325669100  286520
977       300  1325669400  275793
978       300  1325669700  281569
979       300  1325670000  279187
980       300  1325670300  271329
981       300  1325670600  268474
982       300  1325670900  272893
983       300  1325671200  270583
984       300  1325671500  266891
985       300  1325671800  275333
986       300  1325672100  275093
987       300  1325672400  275599
988       300  1325672700  290621
989       300  1325673000  290640
990       300  1325673300  281757
991       300  1325673600  277747
992       300  1325673900  279791
993       300  1325674200  284216
994       300  1325674500  280725
995       300  1325674800  288486
996       300  1325675100  285936
997       300  1325675400  285092
998       300  1325675700  285994
999       300  1325676000  287285

[999 rows x 3 columns]